@model MyVidly.ViewModels.MoviesFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var hidden = Model.Title == "New Movie" ? "hidden" : string.Empty;

}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    Html.ValidationSummary(true, "Please see errors");
<div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Movies.Name)
                @Html.TextBoxFor(m => m.Movies.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Movies.GenreId)
                @Html.DropDownListFor(m => m.Movies.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Movies.ReleasedDate)
                @Html.TextBoxFor(m => m.Movies.ReleasedDate, "{0: d MMM yyyy}", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group @hidden">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Movies.DateAdded)
                @Html.TextBoxFor(m => m.Movies.DateAdded, "{0: d MMM yyyy}", new { @class = "form-control" })
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Movies.Id)
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
    
}

